.tweet-card-container {
  padding: 10%;
}

.form-container {
  padding: 5%;
}

.field {
  margin: 9px 0;
}

.checkbox-field {
  margin: 18px 0 14px 0;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 1080px;
  width: 1080px;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
