body {
  background-color: #1DA1F2;
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  margin: 9px 0;
  cursor: pointer;
}

#exportContainer {
  width: 650px;
}

.row {
  display: flex;
  padding: 2%;
}

.column:first-child {
  flex: 40%;
}

.column:last-child {
  flex: 60%;
}

.column:first-child > form {
  width: 150px;
  margin: 9px auto;
}