body {
  background-color: #1DA1F2;
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  margin: 9px 0;
  cursor: pointer;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 1080px;
  width: 1080px;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.row {
  display: flex;
  padding: 2%;
}

.column:first-child {
  flex: 40%;
}

.column:last-child {
  flex: 60%;
}

.column:first-child > form {
  width: 350px;
  margin: 9px auto;
}